html,body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#balloon {
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: width 120ms, height 120ms, background-color 120ms;
}